*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
}
.navigation{
    padding-top:30px;
    padding-bottom:30px;
    position:absolute;
    top:0;
    width:100%;
    z-index:1;
  }
  
  .navbar-right{
    float:right;
    padding-right:10%;
  }
  
  .navbar-right a{
    text-decoration:none;
    padding:10px;
    color: #fff;
    font-family:Arial;
    font-weight:900;
  }
  
  .navbar-right a:hover{
    color: rgb(253, 216, 4);
    transition: 2s;
  }
  .navbar-logo{
    width: 100px;
  }
.container{
    width: 100%;
    height: 100vh;
    background-color:rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
    text-align: center;
}
.content h1{
    font-size: 60px;
    color: #fff;
    margin-bottom: 50px;
}
.content a{
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    border: 2px solid #fff;
    padding: 15px 25px;
    border-radius: 50px;
}
.content a:hover{
    background-color: #fff;
    color: black;
    transition: 2s;
   
}
.background-video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    
  }
  